.card {
  margin-bottom: 10px;
}


.hero-text {
  font-size: 40px;
  color: ivory;
}

body {
  background-color: silver;
}

.search-again {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
